* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.head-col-30 {
    width: 30%;
    display: flex;
}

.head-col-70 {
    width: 70%;
    display: flex;
}

.a-style {
    text-decoration: none;   
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 20px;
}

li {
    display: inline-block;
    margin: 0px 10px;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}
 
.col-100 {
    width: 100%;
    position: relative;
}

.col {
    width: 100%;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.fa-size {
    font-size: 70px;
}

.arrow {
    border-radius: 100%;
    padding: 10px;
    font-size: 25px;
}

p {
    font-size: 18px;
}

.testimonial-img {
    width: 80%;
    height: auto;
    border-radius: 100%;
}

.about-img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.number-size {
    font-size: 50px;
    font-weight: 600;
}

.quote-pos {
    position: absolute;
    top: 5%;
    right: 55%;
    font-size: 75px;
}

/* UTILITY */

.azure {
    background-color: #0084FD;
}

.lightazure {
    background-color: #B5DDFF;
    color: #0084FD;
}

.black {
    color: black;
}

.white {
    color: white;
}

.bg-violet {
    background-color: #9792E4;
}

.violet {
    color: #9792E4;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #333333;
}

.orange {
    color: #FDC15F;
    font-size: 50px;
}

.text-right {
    text-align: right;
}

.align-center {
    align-items: center;
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.padding-20 {
    padding: 20px;
}

.margin-10 {
    margin: 10px;
}

.margin-40 {
    margin: 40px 10px;
}

.border {
    border-radius: 15px;
}

.label {
    padding: 10px 50px;
    border-radius: 30px;
}

.label-2 {
    padding: 5px;
    border-radius: 30px;
}

.d-inline {
    display: inline-block;
}

main img {
    width: 100%;
    height: auto;
}

.label-font {
    font-size: 25px;
}

@media screen and (min-width: 568px) {
     .col-66 {
        width: calc(100% / 3 * 2 - 20px);
    }

    .testimonial .col-66 {
        flex-direction: column;
        justify-content: center;
    }

    .col-33 {
        width: calc(100% / 3 - 20px);
    }

    .testimonial .col-100 {
        display: flex;
    }

    .col-50 {
        width: calc(50% - 20px);
    }

    .quote-pos {
        position: absolute;
        top: 8%;
        right: 0;
        font-size: 75px;
    }

    .testimonial .text-center {
        text-align: start;
    }
    
}

@media screen and (min-width: 991px) {
    .demo .col {
        flex-direction: row;
    }
    
    .col-33-desk {
        width: calc(100% / 3 - 20px);
    }

    .col-50-desk {
        width: calc(50% - 20px);
        position: relative;
    }

    .plan-img {
        width: 60%;
        height: auto;
    }

    .content-desk {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .d-block {
        display: none !important;
    }
    
    .d-none {
        display: block;
    }
}