* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

/* UTILITY */

.azure {
    background-color: #0084FD;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padding-20 {
    padding: 20px;
}