* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

main .fa-solid {
    font-size: 70px;
}

/* UTILITY */

.azure {
    background-color: #0084FD;
}

.lightazure {
    background-color: #B5DDFF;
    color: #0084FD;
}

.black {
    color: black;
}

.white {
    color: white;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
    text-align: center;
}

.padding-20 {
    padding: 20px;
}

.margin-10 {
    margin: 10px;
}

.border {
    border-radius: 15px;
}

.label {
    padding: 10px 50px;
    border-radius: 30px;
}

.d-inline {
    display: inline-block;
}

main img {
    width: 100%;
}